.editButton {
    button {
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        height: 38px;
        background-color: #a071ff;
        color: #fff;
        min-width: 100px;
        padding: 0 10px;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
}
.appointmentEditFormSection {
    .rightSideSection {
        .appointmentHeading {
            margin-bottom: 15px;
            font-size: 26px;

            @media only screen and (max-width: 600px) {
                font-size: 20px;
                text-align: center;
            }
        }
        .editAppointmentFieldsBody {
            text-align: center;
            padding: 0 10px;

            .editAppointmentFields {
                background: #fff;
                border-radius: 2px;
                padding: 20px;
                position: relative;
                text-align: left;
                .datePicker {
                    width: 100%;
                }
                .appointmentTable {
                    overflow: auto;
                    table {
                        border: 1px solid #ddd;
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 20px;
                        tr {
                            background-color: #f9f9f9;
                        }
                        th {
                            border: 1px solid #ddd;
                            padding: 8px;
                            line-height: 1.42857143;
                            max-width: 200px;
                            min-width: 200px;
                            vertical-align: middle;
                        }
                        td {
                            border: 1px solid #ddd;
                            padding: 8px;
                            line-height: 1.42857143;
                            max-width: 200px !important;
                            min-width: 200px !important;
                            vertical-align: middle !important;
                            text-align: left;
                        }
                    }
                }

                .textField {
                    margin: 10px auto;
                    width: 100%;
                }
                .fileSelect {
                    display: block;
                    color: #34495e;
                    cursor: pointer;
                    height: 50px;
                    line-height: 40px;
                    text-align: left;
                    background: #ffffff;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    .fileSelectButton {
                        background: #dce4ec;
                        padding: 0 10px;
                        display: inline-block;
                        height: 100%;
                        line-height: 50px;
                    }
                    .fileSelectName {
                        line-height: 40px;
                        display: inline-block;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
